@media (min-width: 800px) {
    .title-block-text {
        padding-top: 30px;
        font-size: 37px;
        font-weight: 800;
        margin-bottom: 10px;
        text-align: center;
    }

    .title-block-secondary-text {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 80px;
        text-align: center;
        line-height: 35px;
    }

    .title-block-secondary-text-companies{
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 30px;
        text-align: center;
        line-height: 35px;
    }

    .education-parts-container{
        background: #fff;
        padding-top: 60px;
    }

    .arrow-div-education{
        display: flex;
        align-items: center;
        bottom: 30px;
        position: absolute;
    }
}

.arrow-div-education-no-absolute{
    display: flex;
    align-items: center;
}

.arrow-div-back-education{
    display: flex;
    align-items: center;
}

.title-text-subblock{
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.secondary-text-subblock{
    font-weight: 500;
    font-size: 16px;
}

.secondary-text-subblock-active{
    font-weight: 500;
    font-size: 14px;
    word-break: break-word;
}

.title-text-subblock-active{
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
    word-break: break-word  ;
}

.image-education-block{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid #f6f6f6;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    margin-bottom: 25px;
}

.image-education{
    width: 50px;
    height: 50px;
}

.image-education-2{
    width: 57px;
    height: 57px;
}

.column-not-main-button{
    margin-top: 60px;
}

.details-registration-education-text{
    margin-top: 20px;
    text-align: center;
}

.education-structure-subblock{
    padding: 25px;
    border: 1px solid #ebebec;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    height: 100%;
}

.education-structure-subblock:hover{
    cursor: pointer;
}

.education-structure-active-subblock{
    padding: 25px;
    border: 1px solid rgba(255, 158, 127, 0.51);
    box-shadow: 0 3px 12px rgba(255, 170, 129, 0.62);
    border-radius: 20px;
    height: 100%;
}

.education-structure-active-subblock:hover{
    cursor: pointer;
}

.fi-rr-arrow-right.education-block{
    font-size: 19.5px;
    display: inline-block;
    margin-left: 8px;
    margin-top: 6px;
    color: #FF5757;
}

.fi-rr-arrow-left.education-arrow-back{
    font-size: 19.5px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 6px;
}

.details-arrow-text{
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
    color: #FF5757;
}

.details-back-arrow-text{
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
}

@media (min-width: 800px) {
    .react-card-flip, .react-card-back {
        height: 100% !important;
        min-height: 380px !important;
    }
}